In [2]:
import numpy as np
import pandas as pd
import random as re
import regex as re

In [2]:
#1 Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
string = 'Python Exercises, PHP exercises.'

pattern =  '\s'
rslt = re.sub(pattern, ':', string)

pattern1 = ','
rslt1 = re.sub(pattern1, ':', rslt)

pattern2 = '\.'
rslt2 = re.sub(pattern2, ':', rslt1)

print(rslt2)

Python:Exercises::PHP:exercises:

In [18]:
#2 Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
dictionary = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
data = pd.DataFrame(dictionary)
pattern = r'[,!X{5}0-9:;\.+]'
data['SUMMARY'] = data['SUMMARY'].str.replace(pattern, '', regex = True  )
print(data)

         SUMMARY
0    hello world
1           test
2  four five six

In [5]:
#3  Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.
def atleast_4_words(string):
    pattern = r'\w{4,}'
    a = re.compile(pattern)
    rslt = a.findall(string)
    print(rslt)

In [4]:
#4 Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
def atleast_4_words(string):
    pattern = r'\b\w{3,5}\b'
    a = re.compile(pattern)
    rslt = a.findall(string)
    print(rslt)

In [6]:
#5 Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
def remove_parentheses(strings):
    a = re.compile(r'[ \(\)]')
    for i in strings:
        rslt = a.sub(' ', i)
        print(rslt.strip())

string = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
remove_parentheses(string)

example  .com
hr@fliprobo  .com
github  .com
Hello  Data Science World
Data  Scientist

In [14]:
#6 Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
with open("C:/Users/Abhishek/Desktop/string 2.txt") as file:
    for line in file:
        a = re.compile(r'\s*\([^)]*\)')
        rslt = a.sub('', line)
        print(rslt)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [60]:
#7 Write a regular expression in Python to split a string into uppercase letters.
string = "ImportanceOfRegularExpressionsInPython"
pattern = r'[A-Z][a-z.*]+'
rslt = re.findall(pattern, string)
print(rslt)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [15]:
#8 Create a function in python to insert spaces between words starting with number
def insert_space(strings):
    pattern = r'([a-zA-Z])(\d)([a-zA-Z])'
    rslt = re.sub(pattern, r'\1 \2\3', strings)
    print(rslt)

string = 'RegularExpression1IsAn2ImportantTopic3InPython'
insert_space(string)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [16]:
#9 Create a function in python to insert spaces between words starting with capital letters or with numbers.
def insert_space(strings):
    pattern = r'([A-Za-z])(\d)([a-zA-Z])'
    rslt = re.sub(pattern, r'\1 \2 \3', strings)
    print(rslt)
string = 'RegularExpression1IsAn2ImportantTopic3InPython'
insert_space(string)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [16]:
#10 Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
data= pd.read_csv('https://raw.githubusercontent.com/shivam229/dsrscientist-DSData/753463a22960a47ae66e6f5924389fec5c4d234d/happiness_score_dataset.csv')
data['first_five_letters'] = data['Country'].str[:6]
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [ ]:
#11 Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
pattern = r'\W+'
pattern1 = r'\w+'
string = input('Enter a string  : ')
rslt = bool(re.search(pattern, string))
if rslt:
    print('It contains other characters')
else:
    rslt1 = re.search(pattern1, string)
    print('mathced string is ' ,rslt1.group())

In [119]:
#12 - Write a Python program where a string will start with a specific number.
string = input('Enter a string: ')
specificnumber = input('Enter a specific number: ')
pattern = f'^{specificnumber}'
rslt = (re.search(pattern, string))
rslt
if rslt:
    print(' yes given string is starts with given specific number ')
else:
    print("no given string doesn't starts with given specific number")

Enter a string: 154 abhi is a good boy
Enter a specific number: 154
 yes given string is starts with given specific number

In [41]:
#13 Write a Python program to remove leading zeros from an IP address
pattern =  r'0+(\d+)'
ip_address = input('enter your ip address          :  ')
rslt = re.sub(pattern,r'\1', ip_address )
print(rslt)

enter your ip address          :  0011:0000:0023:0023
11:0:23:23

In [65]:
#14 Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
with open("C:/Users/Abhishek/Desktop/string .txt") as file:
    for line in file:
        pattern = r'\b(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)\s+\d{1,2}(?:st|nd|rd|th)?\s+\d{4}\b'
        rslt = (re.search(pattern, line))
        print(rslt.group())

August 15th 1947

In [81]:
#15 Write a Python program to search some literals strings in a string. 
string ='The quick brown fox jumps over the lazy dog.'
pattern = r'\b\wo\w+'
rslt = (re.findall(pattern, string))
print(rslt)

['fox', 'dog', 'horse']

In [144]:
#16 Write a Python program to search some literals strings in a string. 
string = 'The quick brown fox jumps over the lazy dog'
pattern = r'fox'
rslt = (re.finditer(pattern, string))
for word in rslt:
    print('the index position is   : ', word.span())
    print(word.group())

the index position is   :  (16, 19)
fox

In [145]:
#17 - Write a Python program to find the substrings within a string.
string = 'Python exercises, PHP exercises, C# exercises'
pattern = r'exercise'
rslt = (re.finditer(pattern, string))
for word in rslt:
    print('the index position is   : ', word.span())
    print(word.group())

the index position is   :  (7, 15)
exercise
the index position is   :  (22, 30)
exercise
the index position is   :  (36, 44)
exercise

In [81]:
#18 Write a Python program to search some literals strings in a string. 
string = input('enter a string     :  ')
pattern = input('enter a pattern    : ')
pattern1 = f'{pattern}'
rslt = (re.finditer(pattern1, string))
for word in rslt:
    print('the index position is   : ', word.span())
    print(word.group())

enter a string     :  abhi
enter a pattern    : abhi
the index position is   :  (0, 4)
abhi

In [110]:
#19 Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
pattern = r'\b(\d{4})[-.](\d{2})[-.](\d{2})'
string = input('enter date in yyyy-mm-dd format   :  ')
rslt = re.sub(pattern, r'\3-\2-\1', string)
print('entered date is converted to dd-mm-yyyy format', rslt)

enter date in yyyy-mm-dd format   :  1974-06-01
entered date is converted to dd-mm-yyyy format 01-06-1974

In [142]:
#20 Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
a = re.compile(r'\b(\d+\.\d{1,2})\b')
string = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25 "
rslt = a.findall(string)
print(rslt)

['01.12', '145.8', '3.01', '27.25', '0.25', '0.53']

In [129]:
#21 Write a Python program to separate and print the numbers and their position of a given string.
string = input('enter a string')
pattern1= r'(\d+)'
rslt = (re.finditer(pattern1, string))
for word in rslt:
    print('\n the index is   :  ', word.span())
    print('the number found in given string is :   ', word.group())

enter a stringMy marks in each semester are: 947, 896, 926, 524, 734, 950, 642

 the index is   :   (31, 34)
the number found in given string is :    947

 the index is   :   (36, 39)
the number found in given string is :    896

 the index is   :   (41, 44)
the number found in given string is :    926

 the index is   :   (46, 49)
the number found in given string is :    524

 the index is   :   (51, 54)
the number found in given string is :    734

 the index is   :   (56, 59)
the number found in given string is :    950

 the index is   :   (61, 64)
the number found in given string is :    642

In [3]:
#22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'
rslt = re.findall(pattern, string)
print(rslt)
numbers = []
for number in rslt:
    num = int(number)
    numbers.append(num)
max_value = max(numbers)
print("Maximum value:", max_value)

['947', '896', '926', '524', '734', '950', '642']
Maximum value: 950

In [134]:
#23 Create a function in python to insert spaces between words starting with capital letters.
string = 'RegularExpressionIsAnImportantTopicInPython'
pattern = r'([A-Z][a-z]+)'
result = re.sub(pattern, r' \1', string)
print(result)

 Regular Expression Is An Important Topic In Python

In [ ]:
#24 Python regex to find sequences of one upper case letter followed by lower case letters
pattern = r'\b[A-Z][a-z]+'
string = input('enter string    : ')
rslt = re.findall(pattern, string)
print(rslt)

In [78]:
#25 Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
string = "Hello hello world world"
pattern = r'\b(\w+)(?:\W+\1\b)+'
rslt = re.sub(pattern, r'\1',string)
print(rslt)

Hello hello world

In [ ]:
#26 Write a python program using RegEx to accept string ending with alphanumeric character.
string = input('enter your string      : ')
pattern = r'\w*[A-Za-z0-9_]+$\b|\w+$'
rslt = (re.search(pattern, string))
if rslt:
    print('yes', rslt.group())
else:
    print('no')

In [55]:
#27 Write a python program using RegEx to extract the hashtags.
text = "RT @kapil_kausik: #Doltiwal I mean #xyzabc is 'hurt' by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> 'acquired funds' No wo"
pattern = r'(#\w+)'
rslt = re.findall(pattern, text)
print(rslt)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [41]:
#28- Write a python program using RegEx to remove <U+..> like symbols 
string = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+[A-F0-9]+>'
rslt = re.sub(pattern, '', string)
print(rslt)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [25]:
#29 Write a python program to extract dates from the text stored in the text file.
with open("C:/Users/Abhishek/Desktop/string 1 .txt") as file:
    for line in file:
        pattern = r'\b\d{2}[-.]\d{2}[-.]\d{4}\b'
        rslt = re.findall(pattern, line)
        print(rslt)

['12-09-1992', '15-12-1999']

In [9]:
#30 Create a function in python to remove all words from a string of length between 2 and 4.
def rem(string):
    remove = re.compile(r'\b\w{2,4}\b')
    rslt = remove.sub('', string)
    print(rslt)

instring = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
rem(instring)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.