In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import regex as re

In [2]:
1# Write a python program to display all the header tags from wikipedia.org and make data frame.
page = requests.get('https://en.wikipedia.org/wiki/Main_Page' )
page

soup = BeautifulSoup(page.content)
soup

headings = []
for heading in soup.find_all('span', class_='mw-headline'):
    headings.append(heading.text)
headings

df = pd.DataFrame({ 'headers' : headings})
df

                         headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [6]:
 #2 ) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
page1 = requests.get('https://presidentofindia.nic.in/former-presidents')
soup = BeautifulSoup(page1.content)

president_names = []

names = soup.find_all('div', class_='president-listing')

for president in names:
    h3_element = president.find('h3')
    name = h3_element.text.strip()
    president_names.append(name)

president_names

terms = []
for president in names:
    h5_element = president.find('h5')
    name1 = h5_element.text.strip()
    terms.append(name1)
terms

list_presidents = pd.DataFrame({'president_names' :president_names, 'terms' :terms })
list_presidents

                 president_names                    terms
0           Shri Ram Nath Kovind  14th President of India
1          Shri Pranab Mukherjee  13th President of India
2   Smt Pratibha Devisingh Patil  12th President of India
3         DR. A.P.J. Abdul Kalam  11th President of India
4           Shri K. R. Narayanan  10th President of India
5        Dr Shankar Dayal Sharma  9th  President of India
6            Shri R Venkataraman   8th President of India
7               Giani Zail Singh   7th President of India
8      Shri Neelam Sanjiva Reddy   6th President of India
9       Dr. Fakhruddin Ali Ahmed   5th President of India
10  Shri Varahagiri Venkata Giri   4th President of India
11              Dr. Zakir Husain   3rd President of India
12  Dr. Sarvepalli Radhakrishnan   2nd President of India
13           Dr. Rajendra Prasad   1st President of India

In [7]:
# 3 ) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame 
  #a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
print('----------------------***********----------------------------------')
print('Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.' )
print('----------------------***********----------------------------------')
page2 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page2

soup2 = BeautifulSoup(page2.content)
soup2

teams = []
top = 0
for i in soup2.find_all('span' , class_ = "u-hide-phablet"):
    if top < 10:
        teams.append(i.text)
        top += 1
teams

rating = []
top1 = 0
for i in soup2.find_all('td' , class_ = "table-body__cell u-text-right rating"):
    if top1 < 9:
        rating.append(i.text)
        top1 += 1
first = soup2.find('td' , class_ ="rankings-block__banner--rating u-text-right")
rating.insert(0, first.text.strip())
rating

points_rate = []
top02 = 0
for i in soup2.find_all('td' , class_ = "table-body__cell u-center-text"):
    if top02 < 18:
        points_rate.append(i.text)
        top02 += 1
        
matches = points_rate[::2][:10]
points = points_rate[1::2][:10]

first1 = soup2.find('td' , class_ = "rankings-block__banner--points")
points.insert(0, first1.text.strip())

first2 = soup2.find('td' , class_ = "rankings-block__banner--matches")
matches.insert(0, first2.text)

data01 = pd.DataFrame({'teams' : teams, 'matches' : matches, 'points' : points, 'rating' : rating})
data01

----------------------***********----------------------------------
Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
----------------------***********----------------------------------

          teams matches points rating
0         India      55  6,640    121
1     Australia      42  4,926    117
2  South Africa      34  3,750    110
3      Pakistan      36  3,922    109
4   New Zealand      43  4,399    102
5       England      38  3,777     99
6     Sri Lanka      47  4,134     88
7    Bangladesh      44  3,836     87
8   Afghanistan      30  2,533     84
9   West Indies      38  2,582     68

In [8]:
# b) Top 10 ODI Batsmen along with the records of their team andrating.
print('----------------------***********----------------------------------')
print('Top 10 ODI batsmen along with the records of their team and rating.' )
print('----------------------***********----------------------------------')
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page5

soup5 = BeautifulSoup(page5.content)
soup5

player = []
top05 = 0
for i in soup5.find('div' , class_ = "rankings-block__banner--name"):
    if top05 < 10:
        player.append(i.text)
        top05 += 1
player

top06 = 0
for i in soup5.find_all('td' , class_ = "table-body__cell name"):
    if top06 < 9:
        player.append(i.text.strip())
        top06 += 1
player

team01 = soup5.find('div', class_='rankings-block__banner--nationality')
team0001 = team01.select_one('.flag-15')['class'][1]
team0001

top06 = 0
team001 = []
for i in soup5.find_all('span' , class_ = "table-body__logo-text"):
    if top06 < 9:
        team001.append(i.text.strip())
        top06 += 1
team001.insert(0, team0001 )
team001

rating = []
rate = soup5.find('div', class_='rankings-block__banner--rating')
rate001 = rating.insert(0, rate.text)

top07 = 0
for i in soup5.find_all('td' , class_ = "table-body__cell u-text-right rating"):
    if top07 < 9:
        rating.append(i.text.strip())
        top07 += 1
rating

data03 = pd.DataFrame({'player' : player, 'team' : team001, 'rating' : rating})
data03

----------------------***********----------------------------------
Top 10 ODI batsmen along with the records of their team and rating.
----------------------***********----------------------------------

                  player team rating
0           Shubman Gill  IND    826
1             Babar Azam  PAK    824
2            Virat Kohli  IND    791
3           Rohit Sharma  IND    769
4        Quinton de Kock   SA    760
5         Daryl Mitchell   NZ    750
6           David Warner  AUS    745
7  Rassie van der Dussen   SA    735
8           Harry Tector  IRE    729
9            Dawid Malan  ENG    729

In [9]:
# c) Top 10 ODI bowlers along with the records of their team and rating.
print('----------------------***********----------------------------------')
print('Top 10 ODI bowlers along with the records of their team and rating.' )
print('----------------------***********----------------------------------')

page6 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
page6

soup6 = BeautifulSoup(page6.content)
soup6

bowler= []
player01 = []
player0002 = []
top05 = 0
for i in soup6.find_all('div' , class_ = "rankings-block__banner--name"):
    if top05 < 10:
        player0002.append(i.text)
        top05 += 1
bowler.append(player0002[1])
bowler
top11 = 0
for i in soup6.find_all('td' , class_ = "table-body__cell name"):
        player01.append(i.text.strip())
        top11 += 1
bowler1 = bowler + player01[9:18]
bowler1

team0003 = []
team0002 = soup6.find_all('div', class_='rankings-block__banner--nationality')
team0002
flag = []
for team_div in team0002:
    flag_class = team_div.find('div', class_='flag-15')['class'][1]
    rating = team_div.find('div', class_='rankings-block__banner--rating').text.strip()
    flag.append(flag_class)
team0003.insert(0, flag[1])

team001 = []
for i in soup6.find_all('span' , class_ = "table-body__logo-text"):
    team001.append(i.text.strip())
team001
bowl_team = team0003+team001[9:18]
bowl_team

rating01 = []
rating001 = []
for i in soup6.find_all('div', class_='rankings-block__banner--rating'):
    rating001.append(i.text)
rating01.insert(0, rating001[1])
rating01

rating0004 = []
for i in soup6.find_all('td' , class_ = "table-body__cell u-text-right rating"):
    rating0004.append(i.text)
bowl_rate =rating01 +rating0004[9:18]
bowl_rate

data04 = pd.DataFrame({'player' : bowler1, 'team' : bowl_team, 'rating' : bowl_rate})
data04

----------------------***********----------------------------------
Top 10 ODI bowlers along with the records of their team and rating.
----------------------***********----------------------------------

           player team rating
0  Keshav Maharaj   SA    741
1  Josh Hazlewood  AUS    703
2  Mohammed Siraj  IND    699
3  Jasprit Bumrah  IND    685
4      Adam Zampa  AUS    675
5     Rashid Khan  AFG    667
6   Kuldeep Yadav  IND    667
7     Trent Boult   NZ    663
8  Shaheen Afridi  PAK    650
9  Mohammad Shami  IND    648

In [10]:
#4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
print('----------------------***********----------------------------------')
print('Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.' )
print('----------------------***********----------------------------------')

page3 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page3

soup3 = BeautifulSoup(page2.content)
soup3

teams1 = []
top = 0
for i in soup3.find_all('span' , class_ = "u-hide-phablet"):
    if top < 10:
        teams1.append(i.text)
        top += 1
teams1

rating = []
top4 = 0
for i in soup3.find_all('td' , class_ = "table-body__cell u-text-right rating"):
    if top4 < 9:
        rating.append(i.text)
        top4 += 1
first = soup3.find('td' , class_ ="rankings-block__banner--rating u-text-right")
rating.insert(0, first.text.strip())
rating

points_rate = []
top2 = 0
for i in soup3.find_all('td' , class_ = "table-body__cell u-center-text"):
    if top2 < 18:
        points_rate.append(i.text)
        top2 += 1
        
matches = points_rate[::2][:10]
points = points_rate[1::2][:10]

first1 = soup3.find('td' , class_ = "rankings-block__banner--points")
points.insert(0, first1.text)

first2 = soup3.find('td' , class_ = "rankings-block__banner--matches")
matches.insert(0, first2.text)

data02 = pd.DataFrame({'teams' : teams, 'matches' : matches, 'points' : points, 'rating' : rating})
data02

----------------------***********----------------------------------
Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
----------------------***********----------------------------------

          teams matches points rating
0         India      55  6,640    121
1     Australia      42  4,926    117
2  South Africa      34  3,750    110
3      Pakistan      36  3,922    109
4   New Zealand      43  4,399    102
5       England      38  3,777     99
6     Sri Lanka      47  4,134     88
7    Bangladesh      44  3,836     87
8   Afghanistan      30  2,533     84
9   West Indies      38  2,582     68

In [11]:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating
print('----------------------***********----------------------------------')
print(' Top 10 women’s ODI Batting players along with the records of their team and rating' )
print('----------------------***********----------------------------------')

page4 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page4

soup4 = BeautifulSoup(page4.content)
soup4

player = []
top05 = 0
for i in soup4.find('div' , class_ = "rankings-block__banner--name"):
    if top05 < 10:
        player.append(i.text)
        top05 += 1
player

top06 = 0
for i in soup4.find_all('td' , class_ = "table-body__cell name"):
    if top06 < 9:
        player.append(i.text.strip())
        top06 += 1
player

team01 = soup4.find('div', class_='rankings-block__banner--nationality')
team0001 = team01.select_one('.flag-15')['class'][1]
team0001

top06 = 0
team001 = []
for i in soup4.find_all('span' , class_ = "table-body__logo-text"):
    if top06 < 9:
        team001.append(i.text.strip())
        top06 += 1
team001.insert(0, team0001 )
team001

rating = []
rate = soup4.find('div', class_='rankings-block__banner--rating')
rate001 = rating.insert(0, rate.text)

top07 = 0
for i in soup4.find_all('td' , class_ = "table-body__cell u-text-right rating"):
    if top07 < 9:
        rating.append(i.text.strip())
        top07 += 1
rating

data02 = pd.DataFrame({'player' : player, 'team' : team001, 'rating' : rating})
data02

----------------------***********----------------------------------
 Top 10 women’s ODI Batting players along with the records of their team and rating
----------------------***********----------------------------------

                 player team rating
0  Natalie Sciver-Brunt  ENG    807
1           Beth Mooney  AUS    750
2   Chamari Athapaththu   SL    736
3       Laura Wolvaardt   SA    727
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    698
6          Ellyse Perry  AUS    697
7      Harmanpreet Kaur  IND    694
8           Meg Lanning  AUS    662
9        Marizanne Kapp   SA    642

In [12]:
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating
print('----------------------***********----------------------------------')
print('list of the women’s ODI all-rounder along with the records of their team and rating' )
print('----------------------***********----------------------------------')

page5 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page5

soup7 = BeautifulSoup(page5.content)
soup7

w_bowler= []
player01 = []
player0002 = []
top05 = 0
for i in soup7.find_all('div' , class_ = "rankings-block__banner--name"):
    if top05 < 10:
        player0002.append(i.text)
        top05 += 1
w_bowler.append(player0002[2])
w_bowler
top11 = 0
for i in soup7.find_all('td' , class_ = "table-body__cell name"):
        player01.append(i.text.strip())
        top11 += 1
bowler2 = w_bowler + player01[18:]
bowler2

team0000 = []
team0100 = soup7.find_all('div', class_='rankings-block__banner--nationality')
team0100
flag = []
for team_div in team0100:
    flag_class = team_div.find('div', class_='flag-15')['class'][1]
    rating = team_div.find('div', class_='rankings-block__banner--rating').text.strip()
    flag.append(flag_class)
team0000.insert(0, flag[2])

team0110 = []
for i in soup7.find_all('span' , class_ = "table-body__logo-text"):
    team0110.append(i.text.strip())
team0110
w_bowl_team = team0000+team0110[18:]
w_bowl_team

rating00 = []
rating111 = []
for i in soup7.find_all('div', class_='rankings-block__banner--rating'):
    rating111.append(i.text)
rating00.insert(0, rating111[2])
rating00

rating4444 = []
for i in soup7.find_all('td' , class_ = "table-body__cell u-text-right rating"):
    rating4444.append(i.text)
w_bowl_rate =rating00 +rating4444[18:]
w_bowl_rate

data08 = pd.DataFrame({'player' : bowler2, 'team' : w_bowl_team, 'rating' : w_bowl_rate})
data08

----------------------***********----------------------------------
list of the women’s ODI all-rounder along with the records of their team and rating
----------------------***********----------------------------------

                 player team rating
0        Marizanne Kapp   SA    385
1      Ashleigh Gardner  AUS    377
2  Natalie Sciver-Brunt  ENG    360
3       Hayley Matthews   WI    358
4           Amelia Kerr   NZ    346
5         Deepti Sharma  IND    312
6          Ellyse Perry  AUS    282
7              Nida Dar  PAK    240
8         Jess Jonassen  AUS    227
9         Sophie Devine   NZ    227

In [20]:
'''5)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data frame
i) Headline
ii) Time
iii) News Link'''

page09 = requests.get('https://www.cnbc.com/world/?region=world')
page09
soup12 = BeautifulSoup(page09.content, 'html.parser')
links = []

for li in soup12.find_all('li', class_='LatestNews-item'):
    for a in li.find_all('a', class_='LatestNews-headline'):
        links.append(a['href'])
len(links)

times = []

for li in soup12.find_all('li', class_='LatestNews-item'):
    for time in li.find_all('time', class_='LatestNews-timestamp'):
        times.append(time.text)
len(times)

headlines = []

for li in soup12.find_all('li', class_='LatestNews-item'):
    for a in li.find_all('a', class_='LatestNews-headline'):
        headlines.append(a.text)
headlines


data1001 = pd.DataFrame({ 'News' : headlines, 'Time' :times, 'News links': links})
data1001

,News,Time,News links
0,Why a strong Black Friday may not mean a blowo...,27 Min Ago,https://www.cnbc.com/2023/12/03/what-strong-bl...
1,IMF chief makes the case for carbon pricing at...,5 Hours Ago,https://www.cnbc.com/2023/12/03/imf-chief-make...
2,In Congress and in class: Rep. Don Beyer works...,17 Hours Ago,https://www.cnbc.com/2023/12/02/in-congress-an...
3,Case for gold fever: NewEdge Wealth sees recor...,21 Hours Ago,https://www.cnbc.com/2023/12/02/case-for-gold-...
4,Signs of a sector rotation — plus 2 more theme...,22 Hours Ago,https://www.cnbc.com/2023/12/02/signs-of-a-sec...
5,Disney's 'Wish' director left med school for a...,22 Hours Ago,https://www.cnbc.com/2023/12/02/disneys-wish-d...
6,We spent $4.5 million to turn this abandoned s...,22 Hours Ago,https://www.cnbc.com/2023/12/02/schwab-pennsyl...
7,Worth the money: 4 items that will upgrade you...,22 Hours Ago,https://www.cnbc.com/2023/12/02/items-to-upgra...
8,I spent 20 years studying foods 100-year-old p...,23 Hours Ago,https://www.cnbc.com/2023/12/02/i-spent-20-yea...
9,Trailer park caretaker surprises his hometown ...,23 Hours Ago,https://www.cnbc.com/2023/12/02/trailer-park-c...
10,Beyoncé film: Criticism motivated 11-year-old ...,23 Hours Ago,https://www.cnbc.com/2023/12/02/beyonce-film-h...
11,Investors mourn the loss of one-of-a-kind lege...,23 Hours Ago,https://www.cnbc.com/2023/12/02/charlie-munger...
12,How some of 2023's biggest AI winners have far...,23 Hours Ago,https://www.cnbc.com/2023/12/02/how-these-ai-w...
13,Analysts top picks for December's include this...,23 Hours Ago,https://www.cnbc.com/2023/12/02/decembers-best...
14,Here’s what the S&P 500’s summer hot streak ca...,24 Hours Ago,https://www.cnbc.com/2023/12/02/heres-what-the...
15,How $100 billion mining giant Rio Tinto is poi...,24 Hours Ago,https://www.cnbc.com/2023/12/02/how-rio-tinto-...
16,Social Security benefits are reduced for publi...,24 Hours Ago,https://www.cnbc.com/2023/12/02/social-securit...
17,Pfizer's twice-daily weight loss pill joins a ...,"December 2, 2023",https://www.cnbc.com/2023/12/02/pfizer-weight-...
18,Exxon Mobil CEO urges COP28 climate summit to ...,"December 2, 2023",https://www.cnbc.com/2023/12/02/exxon-mobil-ce...
19,Cramer's optimistic on retail stocks and consu...,"December 1, 2023",https://www.cnbc.com/2023/12/01/cramers-optimi...
20,Cramer's Lightning Round: ImmunityBio is 'a ve...,"December 1, 2023",https://www.cnbc.com/2023/12/01/cramers-lightn...
21,Cramer's week ahead: Pay attention to Friday's...,"December 1, 2023",https://www.cnbc.com/2023/12/01/cramers-week-a...
22,Amazon broke federal labor law in calling Stat...,"December 1, 2023",https://www.cnbc.com/2023/12/01/amazon-broke-f...
23,Uber shares pop on inclusion in S&P 500,"December 1, 2023",https://www.cnbc.com/2023/12/01/uber-shares-po...
24,Amazon buys SpaceX rocket launches for Kuiper ...,"December 1, 2023",https://www.cnbc.com/2023/12/01/amazon-buys-sp...
25,Kevin Hart shares his No. 1 'secret weapon' fo...,"December 1, 2023",https://www.cnbc.com/2023/12/01/kevin-hart-say...
26,Money market funds may deliver a surprise tax ...,"December 1, 2023",https://www.cnbc.com/2023/12/01/money-market-f...
27,Saudi Arabia is struggling to boost oil prices...,"December 1, 2023",https://www.cnbc.com/2023/12/01/saudi-arabia-i...
28,Goldman says buy beer powerhouse Constellation...,"December 1, 2023",https://www.cnbc.com/2023/12/01/goldman-says-b...
29,Here's why we're not worried about Starbucks s...,"December 1, 2023",https://www.cnbc.com/2023/12/01/heres-why-were...

In [19]:
'''6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame'''


page8 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page8

soup9 = BeautifulSoup(page8.content, 'html.parser')

headlines99 = [h.text.strip() for h in soup9.select('.sc-1qrq3sd-1.gRGSUS')]
headlines99

authors= []
for i in soup9.find_all('span' , class_ ="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text.strip())
authors

date= []
for i in soup9.find_all('span' , class_ ="sc-1thf9ly-2 dvggWt"):
    date.append(i.text.strip())
date

article_links = []
for a in soup9.find_all('a', class_='sc-5smygv-0 fIXTHm', href=True):
    article_links.append(a['href'])
article_links


data09 = pd.DataFrame({'Paper Title' : headlines99, 'team' : authors, 'Published Date' :date, 'Paper URL' : article_links})
data09

,Paper Title,team,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [15]:
''' 7) Write a python program to scrape mentioned details from dineout.co.inand make data frame
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL'''

page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page 

soup = BeautifulSoup(page.content)
soup

hotel = []
for name in soup.find_all('div', class_ = "restnt-info cursor" ):
    hotel.append(name.text)
hotel

place = []
for loca in soup.find_all('div', class_ = "restnt-loc ellipsis"  ):
    place.append(loca.text) 
place

cost = []
for price in soup.find_all('div', class_ = "detail-info"  ):
    cost.append(price.text)
cost

image_url = []
for i in soup.find_all('img', class_ = 'no-img'):
    image_url.append(i['data-src'])
image_url

ratings = []
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    ratings.append(i.text)
ratings

df = pd.DataFrame({'restaurent' :hotel,'cuisine' : cost, 'loaction': place , 'rating': ratings , 'image_url': image_url } )
df

,restaurent,cuisine,loaction,rating,image_url
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 for 2 (approx) | Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
5,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,900 for 2 (approx) | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
6,"The Barbeque TimesM2K Corporate Park,Sector 51...","₹ 1,500 for 2 (approx) | North Indian, Contine...","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...